HELP.md
.gradle
build/
gradle.properties
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
local.properties
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
bin/

### Github ###
.github

### UI ###
src/main/js/node
src/main/js/node_modules
src/main/js/public/build
src/main/resources/static/css/bundle.css*
src/main/resources/static/js